#container
  width: 700px
  margin: auto

.video-events-item
  input
    border-color: white      

  .val-start, .val-end
    width: 20px

  .val-text
    width: 260px

  .save, .del
    display: none
    margin-top: -12px

  &:hover
    input
      border-color: #ccc

    .save, .del
      display: inline

#footnotediv
  font-size: 40px
  line-height: 40px
  margin-top: 20px

.updateViea
  #footnotediv
    font-size: 30px

#video
  width: 500px
  height: 290px

.video-list-view
  font-size: 40px
  
  li
    line-height: 50px
    margin-top: 20px

    &:hover
      text-decoration: underline
      cursor: pointer

