doctype 5
html(lang="en")
  head
    meta(charset="utf-8")

    title Video Editor

    link(href="bootstrap/css/bootstrap.min.css", type="text/css", rel="stylesheet", media="screen")
    link(href="css/main.css", type="text/css", rel="stylesheet", media="screen")
  body
    .container
      h1 Video Editor
      #header.row
      #main.row
      #footer.row

  script(data-main="js/app/config", src="js/vendor/require.js")
