<form>
  <fieldset>
    <legend>Add a new video</legend>

    <fieldset class="validation"><ul></ul></fieldset>
    
    <label>Video title</label>
    <input type="text" placeholder="<%- title %>" id="title">
    <span class="help-block">Provide a title for the video. This will be used in listings.</span>

    <label>Video url</label>
    <input type="text" placeholder="http://" id="url">
    <span class="help-block">Provide a youtube or vimeo video url.</span>

    <label>Description</label>
    <textarea placeholder="Add a description..." id="description"></textarea>
    <span class="help-block">Describe the video</span>

    <label class="radio">
      <input type="radio" name="videoProvider" id="youtube" value="youtube" checked>
      YouTube
    </label>
    <label class="radio">
      <input type="radio" name="videoProvider" id="vimeo" value="vimeo">
      Vimeo
    </label>

    <button type="submit" class="btn submit">Submit</button>
  </fieldset>
</form>