<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn btn-primary view">View</button>
  <button type="button" class="btn btn-primary edit">Edit</button>
  <button type="button" class="btn btn-primary delete">Delete</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Are you sure you want to delete this video?</h3>
  </div>
  <div class="modal-body">
    <p>Clicking delete will permanently remove the video from the system. There is no way back.</p>
    <p>Click Cancel to not delete the video</p>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary confirm-delete">Delete</button>
  </div>
</div>