<input type="text" class="val-start" value="<%- start %>">
<input type="text" class="val-end" value="<%- end %>">
<input type="text" class="val-text" value="<%- text %>">
<button class="save">Update</button>
<button class="del">Del</button>