<button type="button" class="btn btn-primary add-annotation">Add annotation</button>
<button type="button" class="btn btn-primary save">Save changes</button>
<button type="button" class="btn btn-primary view-changes">View changes</button>