#container {
  width: 700px;
  margin: auto;
}

.video-events-item input {
  border-color: white;
}
.video-events-item .val-start, .video-events-item .val-end {
  width: 20px;
}
.video-events-item .val-text {
  width: 260px;
}
.video-events-item .save, .video-events-item .del {
  display: none;
  margin-top: -12px;
}
.video-events-item:hover input {
  border-color: #cccccc;
}
.video-events-item:hover .save, .video-events-item:hover .del {
  display: inline;
}

#footnotediv {
  font-size: 40px;
  line-height: 40px;
  margin-top: 20px;
}

.updateViea #footnotediv {
  font-size: 30px;
}

#video {
  width: 500px;
  height: 290px;
}

.video-list-view {
  font-size: 40px;
}
.video-list-view li {
  line-height: 50px;
  margin-top: 20px;
}
.video-list-view li:hover {
  text-decoration: underline;
  cursor: pointer;
}
